<html>
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta property="og:title" content="Parking Plaza">
       <meta property="og:type" content="website">
       <meta property="og:image" content="https://www.parking-plaza.com/images/logo.jpg">
       <meta property="og:description" content="Looking for a parking place or ready to rent your parking?">
       <title>Parking Plaza</title>
       <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
       <!-- import custom stylesheet -->
       <link rel="stylesheet" type="text/css" href="{{ static_url("style.css") }}"/>
       <link rel="shortcut icon" href="/images/favicon.jpg">
   </head>
   <body class="v1">
        <div id="header"></div>
        <script src="{{ static_url("vendors.js") }}"></script>
		<script id="myscript" src="{{ static_url("emailconfapp.js") }}" data-conf="{{ items }}"></script>
   </body>
 </html>